<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.1.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.1.0" targetFramework="net45" />
  <package id="EventStore" version="3.0.11326.44" targetFramework="net45" />
  <package id="FluentAssertions" version="2.0.0.1" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="NSubstitute-CastleFree" version="1.4.3" targetFramework="net45" />
  <package id="NUnit" version="2.6.1" targetFramework="net45" />
  <package id="PowerThreading" version="20101026.0" targetFramework="net45" />
  <package id="Rhino.PersistentHashTable" version="1.7.0.0" targetFramework="net45" />
  <package id="Rhino.Queues" version="1.4.2.0" targetFramework="net45" />
  <package id="Rhino.ServiceBus" version="2.3.4.0" targetFramework="net45" />
  <package id="Rhino.ServiceBus.Castle" version="2.3.4.0" targetFramework="net45" />
  <package id="Rhino.ServiceBus.References" version="2.3.4.0" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net45" />
</packages>